body {
    font-family: Arial, Helvetica, sans-serif, Courier;
    background-color: #E8E8E8;
    margin: 0;
}

#burgermenu {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.1em;
    background-color: #2CA58D;
    width: 100%;
    border: none;
    margin: 0;
    display: none;
}

#burgermenu svg {
    margin-bottom: -6px;
}

#siteheader {
    text-align: center;
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 24em;
    overflow: hidden;
    position: relative;
}

section {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

video {
    top: -8em;
    position: relative;
    z-index: 0;
}

#video-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff59;
    position: absolute;
}

.headertext {
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    z-index: 10;
}

.headertext+h2 {
    margin-top: 5em;
}

p, footer {
    letter-spacing: 0.03em;
    word-spacing: 0.2em;
    line-height: 1.3em;
}

.titels {
    font-size: 1.3em;
    font-weight: bold;
    color: #000066;
}

#nav-ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #2CA58D;
    margin: 1em 0em;
}

.nav-li {
    float: left;
    border-right: 1px solid #010101;
}

.nav-a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
}

.nav-a:hover {
    background-color: #FFFDF7;
}

.nav-li:last-child {
    border-right: none;
    /*disable border next to contact*/
}

#navcontact {
    float: right;
}

.img_haarlem {
    width: 48%;
    height: 48%;
    float: right;
    margin: 1%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.images-aside {
    display: flex;
    flex-basis: 40%;
    flex-direction: row;
}

#imagesnoord {
    flex-direction: column;
    align-items: center;
}

#imagesnoord img {
    width: 80%;
}

.halfarticle {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 50%;
}

#articlenoord {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 60%;
}

#sportcontent {
    margin-top: 2%;
}

.sportfotos {
    width: 5em;
    height: 5em;
}

#sportlijst {
    list-style-type: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

#sportlijst li {
    margin: 0;
    box-sizing: border-box;
    border: solid 0.1em #666;
    text-align: center;
    padding: 1em;
    background-color: #fff;
    position: relative;
}

#sportlijst a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all .15s ease 0s;
}

#sportlijst a:hover {
    background-color: #2CA58D59;
}

#sportlijst li:hover {
    top: -5px;
    transition: all 0.15s ease 0s;
}

#referralcontent {
    margin-top: 2%;
}

#contactform {
    width: 50%;
    margin-top: 2%;
    background-color: #f0f8ff;
}

#contacttitel {
    font-size: 1.3em;
    font-weight: bold;
    color: #000066;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
}

#sitefooter {
    margin-top: 2%;
    text-align: center;
    font-size: 1.2em;
}

#cookie-wrapper {
    position: fixed;
    background-color: #ff6347;
    width: 100%;
    text-align: center;
    bottom: 0;
    z-index: 9999;
}

#cookie-wrapper input {
    margin: 18px 0px 15px 0px;
}

#cookie-wrapper input::before {
    content: "Deze website gebruikt cookies";
    position: relative;
    left: 37%;
    top: -3px;
}

#cookie-wrapper input:checked {
    display: none;
}

@media screen and (max-width: 480px) {
    .headertext+h1 {
        margin-top: -2em;
    }
    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #sportlijst {
        grid-template-columns: 1fr;
    }
    section {
        box-sizing: border-box;
        padding-left: 1em;
        padding-right: 1em;
    }
    #contactform {
        width: 100%;
    }
    #nav-ul {
        display: none;
    }
    .nav-li {
        border-right: 1px solid #010101;
        float: none;
    }
    #navcontact {
        float: none;
    }
    #burgermenu {
        display: block;
    }
    #burgermenu:hover+#nav-ul {
        display: block;
    }
}

@media screen and (min-width: 481px) and (max-width: 1197px) {
    #sportlijst {
        grid-template-columns: 1fr 1fr;
    }
    #contactform {
        width: 70%;
    }
}